<div class="full">
  <div class="left_tree" nz-col nzSpan="6">
    <div class="search-input">
      <nz-input-group [nzSuffix]="suffixIcon">
        <input type="text" nz-input placeholder="请输入" [(ngModel)]="searchValue">
      </nz-input-group>
      <ng-template #suffixIcon>
        <i class="anticon anticon-search"></i>
      </ng-template>
    </div>
    <nz-tree [(ngModel)]="nodes" [nzSearchValue]="searchValue" [nzShowExpand]="true"
      (nzClick)="activeNode($event)" (nzDblClick)="openFolder($event)">
      <ng-template #contextTemplate>
        <ul nz-menu nzInDropDown>
          <li nz-menu-item (click)="selectDropdown('add',$event)">新建文件夹</li>
          <li nz-menu-item (click)="selectDropdown('edit',$event)">修改文件夹</li>
          <li nz-menu-item (click)="selectDropdown('remove',$event)">移除文件夹</li>
        </ul>
      </ng-template>
      <ng-template #nzTreeTemplate let-node>
        <span class="custom-node" draggable="true" aria-grabbed="true" [class.active]="activedNode?.key===node.key">
          <span *ngIf="!node.isLeaf" [class.shine-animate]="node.origin.isLoading" (contextmenu)="contextMenu($event,contextTemplate, node)">
            <i class="anticon anticon-folder" *ngIf="!node.isExpanded" (click)="openFolder(node)"></i>
            <i class="anticon anticon-folder-open" *ngIf="node.isExpanded" (click)="openFolder(node)"></i>
            <span class="folder-name">{{node.title}}</span>
            <!-- <span class="folder-desc">{{node?.origin?.author | lowercase}} created at 2018-04-01</span> -->
          </span>
          <span *ngIf="node.isLeaf" (contextmenu)="contextMenu($event,contextTemplate, node)">
            <i class="anticon anticon-folder"></i>
            <span class="file-name">{{node.title}}</span>
            <!-- <span class="file-desc">{{node?.origin?.author | lowercase}} modified at 2018-05-01</span> -->
          </span>
        </span>
      </ng-template>
    </nz-tree>
  </div>
  <div class="right-conrent" nz-col nzSpan="18">
    <div class="btn-tool">
      <div class="btns">
        <button nz-button [nzType]="btnType[0]" (click)="btnClick('all')">全部</button>
        <button nz-button [nzType]="btnType[1]" (click)="btnClick('folder')">目录</button>
        <button nz-button [nzType]="btnType[2]" (click)="btnClick('file')">文件</button>
      </div>
      <div class="select_search">
        <nz-input-group [nzSuffix]="suffixIcon">
          <input type="text" nz-input placeholder="请输入" [(ngModel)]="listSearchValue">
        </nz-input-group>
        <ng-template #suffixIcon>
          <i class="anticon anticon-search"></i>
        </ng-template>
      </div>
    </div>
    <nz-list style="cursor: pointer;" [nzDataSource]="listData|catalogListDataFilter:fileType:listSearchValue" [nzRenderItem]="item" [nzItemLayout]="'horizontal'"
    [nzLoading]="listLoading">
      <ng-template #item let-item>
        <nz-list-item [nzContent]="''">
          <!-- [nzActions]="[editAction,moreAction]" -->
          <!-- <ng-template #editAction>
            <a (click)="edit(item)">打开</a>
          </ng-template>
          <ng-template #moreAction>
            <a (click)="edit(item)">更多</a>
          </ng-template> -->
          <nz-list-item-meta [nzTitle]="nzTitle" [nzAvatar]="item.Type ==='file' ? '../../assets/img/file.png' : '../../assets/img/folder.png' "
            [nzDescription]="item.content">
            <ng-template #nzTitle>
              <a (click)="fileListClick(item)">{{item.Title}}</a>
            </ng-template>
          </nz-list-item-meta>
        </nz-list-item>
      </ng-template>
    </nz-list>
  </div>
</div>
<nz-modal [(nzVisible)]="isVisible" nzTitle="提示" nzContent="确定删除该条数据吗?" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
</nz-modal>
