<fc-layoutpanel class="full" fcFull="true">
    <fc-layoutrow fccontent fcSpan="74" style="height:100%;">
      <div fccontent1>
          <!-- <fc-tlblist [fcAppid]="appId" (fcEvent)="tlblistEvent($event)"></fc-tlblist> -->
        <form class="list-search" name="searchForm" #searchForm>
          <div class="list-search-every">
            <fc-text fccontent style="width:300px;float: left;" [(ngModel)]="taskCode_filter" fcFieldCode='' fcPlaceHolder="请输入任务代码"
            fcLabel="任务代码" name="taskCode_filter"></fc-text>
          </div>
          <div class="list-search-every">
            <fc-text fccontent style="width:300px;float: left;" [(ngModel)]="taskName_filter" fcFieldCode='' fcPlaceHolder="请输入任务名称"
            fcLabel="任务名称" name="taskName_filter"></fc-text>
          </div>
          <div class="list-search-every list-search-button">
            <fc-button fccontent fcType="primary" fcLabel="查询" fcSize="default" (click)="searchElement($event)"></fc-button>
            <fc-button fccontent fcType="default" fcLabel="重置" fcSize="default" (click)="cleanSelect($event)"></fc-button>
          </div>
        </form>
      </div>
      <rpListdata fccontent2 (rpEvent)="listToolEvent($event)" [rpListOption]="rpListOption" [listdata] = "data"></rpListdata>
    </fc-layoutrow>
    
    
</fc-layoutpanel>
<nz-modal [(nzVisible)]="isVisible" nzTitle="提示" nzContent="确定删除该条数据吗?" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
</nz-modal>