
    <nz-layout>
      <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed">
        <div class="logo">
            <span></span>
        </div>
        <ul nz-menu [nzTheme]="'dark'" [nzMode]="'inline'" [nzInlineCollapsed]="isCollapsed">
          <li nz-submenu>
            <span title><i class="anticon anticon-user"></i><span class="nav-text">基础设置</span></span>
            <ul>
              <li nz-menu-item [routerLink]="[ '/table' ]">报表文件样式</li>
              <li nz-menu-item [routerLink]="[ '/task' ]">报表任务</li>
              <li nz-menu-item [routerLink]="[ '/format' ]">报表格式</li>
            </ul>
          </li>
          <li nz-submenu>
            <span title><i class="anticon anticon-file"></i><span class="nav-text">报表文件</span></span>
            <ul>
              <li nz-menu-item>文件样式设计</li>
              <li nz-menu-item>数据生成</li>
              <li nz-menu-item>数据管理</li>
            </ul>
          </li>
        </ul>
      </nz-sider>
      <nz-layout>
        <nz-header style="background: #fff; padding:0;">
          <i class="anticon trigger" [class.anticon-menu-fold]="!isCollapsed" [class.anticon-menu-unfold]="isCollapsed" (click)="isCollapsed=!isCollapsed"></i>
        </nz-header>
        <nz-content style="margin:0 16px;display:flex;flex-direction: column;">
          <nz-breadcrumb style="margin:16px 0;">
            <nz-breadcrumb-item ><a [routerLink]="[ '/home' ]">全面预算报表</a></nz-breadcrumb-item>
          </nz-breadcrumb>
          <div style="padding:24px; background: #fff; min-height: 360px;flex:1;">
            <router-outlet></router-outlet>
          </div>
        </nz-content>
        <nz-footer style="text-align: center;">Budget Report ©2018 Implement By CXG</nz-footer>
      </nz-layout>
    </nz-layout>

  